*.norm
*.old
*.qlf
*.tmp.obo
*.tmp.owl
*.tmp.ttl
.\#*
.idea
.ipynb_checkpoints
.plhistory
.sparqlprog_history
.token
.vscode
/caro-base.*
/caro-with-equivalents.*
/caro.*
/subsets/caro-minimal.*
LOG
\#*\#
_site/
bin/
env/
imports/*.json
src/.DS_Store
src/ontology/.DS_Store
src/ontology/.cogs
src/ontology/.token
src/ontology/all_reports_1
src/ontology/caro copy.obo
src/ontology/caro-1.obo
src/ontology/caro-base.json
src/ontology/caro-base.obo
src/ontology/caro-base.obo.tmp.obo
src/ontology/caro-base.owl
src/ontology/caro-diff.txt
src/ontology/caro-edit.obo-noimports.owl
src/ontology/caro-edit.obo.tmp.obo
src/ontology/caro-edit.owl
src/ontology/caro-lastbuild.obo
src/ontology/caro-ncit.owl
src/ontology/caro-qc.*
src/ontology/caro-with-equivalents.*
src/ontology/caro.json
src/ontology/caro.obo
src/ontology/caro.owl
src/ontology/caroRelease_2020-09-01.txt
src/ontology/caro_current_release.owl
src/ontology/compare/
src/ontology/debug.owl
src/ontology/disjoint_sibs.owl
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/edit-merged.owl
src/ontology/filtered.obo
src/ontology/filtered.owl
src/ontology/imports/*.json
src/ontology/imports/*_newterms.txt
src/ontology/imports/*_terms_combined.txt
src/ontology/imports/equivalencies.obo
src/ontology/imports/equivalencies.owl
src/ontology/imports/omo_terms.txt
src/ontology/imports/seed.txt
src/ontology/merged.owl
src/ontology/patterns 
src/ontology/reasoned-plus-equivalents.owl
src/ontology/reasoned.owl
src/ontology/reports
src/ontology/roundtrip.obo
src/ontology/seed.txt
src/ontology/skos.ttl
src/ontology/sources/*
src/ontology/sources/*.json
src/ontology/sources/*/*.obo
src/ontology/sources/*/*.owl
src/ontology/sparql_test_edit
src/ontology/sparql_test_main_obo
src/ontology/sparql_test_main_owl
src/ontology/subsets/caro-minimal.json
src/ontology/subsets/caro-minimal.obo
src/ontology/subsets/caro-minimal.owl
src/ontology/subsets/caro-minimal.owl.tmp.owl
src/ontology/subsets/caro-minimal.owl.tmp2.owl
src/ontology/target/
src/ontology/tbn.obo
src/ontology/tbn.owl
src/ontology/test_nomerge
src/ontology/tmp
src/ontology/tmp/
src/ontology/tmp/*
src/ontology/mirror/*
src/patterns/all_pattern_terms.txt
src/patterns/data/default/*.ofn
src/patterns/data/default/*.txt
src/patterns/pattern_owl_seed.txt
target/
unmapped-*
venv
weights-*